body{
  padding-top: 15px;
  background-image: url('../img/bright-squares.png');
}

@font-face {
  font-family: FamilliarProBold;
  font-weight: bold;
  src: url('fonts/Familiar_Pro-Bold.otf');
}
@font-face {
  font-family: Sling;
  font-weight: bold;
  src: url('fonts/SlingBold.ttf');
}

.center {
	background-image: url('../img/graphcoders-lil-fiber.png');
	background-color: #FEFFEF;
    border-radius: 10px;
	z-index: 10;
	-webkit-box-shadow: #45200a 0px 20px 10px;
    -moz-box-shadow: #45200a 0px 20px 10px;
    box-shadow: #45200a 0px 20px 10px;
}

.jumbotron {
	background-image: url('../img/45-degree-fabric-light.png');
	-webkit-box-shadow: #45200a 0px 5px 2px;
    -moz-box-shadow: #45200a 0px 5px 2px;
    box-shadow: #45200a 0px 5px 100px;
    z-index: 900;
}

.home {
	font-family: 'Merriweather', serif;
}

.fixed {
    position: fixed; 
    top: 0; 
    height: 50px; 
    z-index: 1;
}
table {
  border-collapse:collapse;
  table-layout:fixed;
}
table td {
  word-wrap:break-word;
}
.jumbotron {
  font-family: Sling, serif;
}
